# Files
config.json
*-lock.json

# Folders
node_modules
packages/**/node_modules
dist
.idea

# Dot files
.env
.eslintcache
*.log

# TypeScript
.tsbuildinfo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
