on: [push, pull_request]

jobs:
  tsc:
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository
    name: tsc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install node v18
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: yarn install
      run: yarn install
    - name: tsc
      uses: icrawl/action-tsc@v1
